body {
        background: linear-gradient(to right, rgb(23,100,23) 1%,black 20%) repeat;
        color: white;
        min-height: 100vh;
}

.menu {
        float:left;
        margin-top: 10px;
        top: 0px;
        left:20px;
        width: 230px;
}

.textright {
        margin-left: 250px;
        margin-right: 50px;
        margin-top: 10px;

}

a {
        text-align:center;
        text-decoration: underline;
     }
     
     a:hover {
       color:red;
       text-decoration: underline;
     }

.footerpadding {
        padding-top: 60px;
        
}

.para {
        margin-bottom: 25px;
}

.para2{
        padding-bottom: 40px;
}

.me {
        float: right;
        padding: 20px;

}
