body {
        background: linear-gradient(to right, rgb(23,100,23) 1%,black 20%) repeat;
        color: white;
        min-height: 100vh;
        font-family: 'Ovo', serif;
}


.content {
        margin-left: 250px;
        margin-right: 50px;
        margin-top: 10px;

}


.footerpadding {
        padding-top: 60px;
        
}

.para {
        margin-bottom: 25px;
}

.para2{
        padding-bottom: 40px;
}

.me {
        float: right;
        padding: 20px;

}
