---
import '../styles/style.css';
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
import Nav from '../components/menu.astro';
---
<Header>Fanfics blah blah blah</Header>
<Nav />
<div class="textright">
    <p>This is me messing about with the <a href="https://astro.build">Astro Web Site Builder</a></p>
</div>
<Footer>2024</Footer>
