---
import '../styles/style.css';
import Layout from '../layouts/Base.astro';
---
<Layout title="blah blah blah">
    <p>This is me messing about with the <a class="text-rose-400 hover:text-rose-100" href="https://astro.build">Astro Web Site Builder</a></p>
</Layout>
