---
import Layout from '../layouts/Base.astro'
const apicall = await fetch ('https://www.flickr.com/services/rest/?method=flickr.photos.getPopular&api_key=e1cdbef9e8f75963062c57a7636856fc&user_id=83528065%40N00&extras=url_m%2Curl_o,url_t&format=json&nojsoncallback=1');
const results = await apicall.json();
---
<Layout title="Gallery">
<div class="grid grid-cols-5 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-6 grid-flow-row gap-4">
         {results.photos.photo.map((item) => (
         <div class="border-4" ><a href={item.url_o}><img src={item.url_m}/></a> 
         {item.title}</div>
          ))}
</div>
</Layout>
