---
import Layout from '../layouts/Base.astro';
---

<Layout title="Home">
<div class="textright">
    <img class="me" src="/me-150x150.png"/>
    <p class="para2 text-2xl">Hello and Welcome to my site!</p>
    <p class="para2">Use the menu on the left to browse my content</p>
</Layout>
