---
import Layout from '../layouts/Base.astro';
---

<Layout title="Home">
<div class="mycard">
    <img class="me" src="/me-150x150.png"/>
    <p class="para">Hello and Welcome to my website</p>
    <p class="para">Here you will find some of my photography and fanfiction</p>
</div>