---
import Layout from '../layouts/Base.astro';
const rawHTMLString = "Hello <strong>World</strong>"
---
<Layout title="Set:html test" subtitle="1<br/>2<br/>3">
{rawHTMLString}
  <!-- Output: <h1>Hello &lt;strong&gt;World&lt;/strong&gt;</h1> -->
<h2 set:html={rawHTMLString}/>
  <!-- Output: <h1>Hello <strong>World</strong></h1> -->

</Layout>

<style>

h2{
    background-color: red;
}

strong {
    color:black;
}
</style>