---
import { Dropdown,DropdownItems} from "astro-navbar";
---
<li><Dropdown class="text-center">
    <button class="rounded-lg bg-green-900 p-1">
      <span class="text-center">Galleries</span>
   </button>
    <DropdownItems class="relative w-32">
      <ul class="menu">
        <li><a href="/raf_museum">RAF Museum</a></li><br/>
        <li><a href="/elr">East Lancs Railway</a></li><br/>
        <li><a href="/darwen">Darwen Tower Walk</a></li><br/>
        <li><a href="/duxford">Duxford</a></li>
        <li><a href="/yorkshire">Yorkshire Air Museum</a></li>
      </ul>
    </DropdownItems>
</Dropdown> </li>

<li><Dropdown class="text-center">
  <button class="rounded-lg bg-green-900 p-1">
    <span class="text-center">Fanfic</span>
 </button>
  <DropdownItems class="w-50">
    <ul class="menu">
      <li><a href="/fics/download">Downloadable versions</a></li>
      <li><a href="/fics/cyclops">Xena and the Cyclops</a></li>
      <li><a href="/fics/fam">Family Trouble</a></li><br/>
      <li><a href="/fics/dragon">Xena and the Dragon</a></li>
      <li><a href="/fics/howimet">How I met Xena</a></li>
    </ul>
  </DropdownItems>
</Dropdown>
</li>
