<div class="footerpadding textright text-small text-center">
    <p>This site (c) 2025 Martin J Hooper</p>
    <p>All photos on the gallery pages (c) Martin J Hooper</p>
    <p>All Galleries hosted at <a href="https://flickr.com">Flickr</a></p>
</div>

