<div class="menu leading-[3rem] text-center">
   <p class=" italic text-rose-400">Navigation</p>
   <hr/>
    <p class=" italic text-blue-400 rounded-full"><a href="/">Home</a></p>
    <hr/>
    <p class=" italic  text-blue-400 rounded-full"><a href="/about">About</a></p>
    <hr/>
    <p class=" italic text-blue-400 rounded-full"><a href="/fics">Stuff</a></p>
    <hr/>
    <p class=" italic text-blue-400 rounded-full"><a href="/wp">Stuff2</a></p>
    <hr/>
    <p class=" italic text-blue-400 rounded-full"><a href="/env">env variable</a></p>
    
</div>
