<div class="menu leading-10 text-center">
    <p class="underline italic">Navigation</p>
    <p class="rounded-full"><a href="/">Home</a></p>
    <p class="rounded-full"><a href="/about">About</a></p>
    <p class="rounded-full"><a href="/galleries">Flickr Photosets</a></p>
    <hr class="p-1"/>
    <p class="rounded-full"><a href="/fics/fics">Fics Home</a></p>
    <p class=""><a href="/fics/dragon">Xena and the Dragon</a></p>
    <p class=""><a href="/fics/cyclops">Xena and the Cyclops</a></p>
    <p class=""><a href="/fics/howimet">How I met Xena</a></p>
    <p class=""><a href="/fics/fam">Family Trouble</a></p>
</div>
