<div class="menu leading-10 text-center">
    <p class="underline italic">Navigation</p>
    <p><a href="/">Home</a></p>
    <p><a href="/about">About</a></p>
    <p><a href="/galleries">Flickr Photosets</a></p>
    <p><a href="/fics">Fic Downloads</a></p>
    <p><a href="/fics/dragon">Xena and the Dragon</a></p>
    <p><a href="/fics/cyclops">Xena and the Cyclops</a></p>
    <p><a href="/fics/howimet">How I met Xena</a></p>
    <p><a href="/fics/fam">Family Trouble</a></p>
</div>
