---
import Layout from '../../layouts/Base.astro';
---
<Layout title="Fanfics" subtitle="E-Pubs will work on Kindle/Other readers<br/>To print use the PDFs">
  
    <table class="content table-align">
        <tr>
          <th class="p-3 italic">Story Name</th>
          <th class="p-3 italic">E-Pub Version</th>
          <th class="p-3 italic">PDF Version</th>
        </tr>
        <tr>
          <td class="p-3">Family Trouble</td>
          <td class="p-3"><a href="/fics/Family-Trouble.epub">Download</a></td>
          <td class="p-3"><a href="/fics/Family-Trouble.pdf">Download</a></td>
        </tr>
        <tr>
            <td class="p-3">How I met Xena</td>
            <td class="p-3"><a href="/fics/How-I-met-Xena.epub">Download</a></td>
            <td class="p-3"><a href="/fics/How-I-met-Xena.pdf">Download</a></td>
        </tr>
        <tr>
            <td class="p-3">Xena and the Cyclops</td>
            <td class="p-3"><a href="/fics/Xena-and-the-cyclops.epub">Download</a></td>
            <td class="p-3"><a href="/fics/Xena-and-the-cyclops.pdf">Download</a></td>
          </tr>
          <tr>
            <td class="p-3">Xena and the Dragon</td>
            <td class="p-3"><a href="/fics/Xena-and-the-Dragon.epub">Download</a></td>
            <td class="p-3"><a href="/fics/Xena-and-the-Dragon.pdf">Download</a></td>
          </tr>
      </table> 
</Layout>
