---
import Layout from '../../layouts/Base.astro'
---
<Layout title="Xena and the Dragon">
<div class="content">
<p>Disclaimer: <em>Main characters belong to Renaissance/Universal/MCA.</em><br />
© <em>1997</em> Martin Hooper </p>
<hr class="p-2"/>
<p>The scene, a deserted road through a forest consisting of small trees. Coming down the path there was a woman sat astride a brown horse followed by another woman who was standing behind the horse. </p>
<p>"It's a nice day to go to your home town to see your family, Gabrielle," said Xena, who was riding on the horse. </p>
<p>"Yes it is, I haven't seen Lila in quite a while. I wonder how she's getting on?" said Gabrielle, who was leaning on her Amazon staff while she was talking to Xena. </p>
<p>As they came through the forest they could see the town of Poteidaia, the setting sun glinting off the harbour and the many houses. </p>
<p>They rode and walked down the path into the town gates and through the city until they got to Gabrielle's family's house. </p>
<p>Gabrielle knocked on the door. </p>
<p>"Hello Gabrielle. Xena, how are you?" said Lila, Gabrielle's sister. </p>
<p>"Fine thanks," said Gabrielle, "We decided to see you. How's Mum and Dad?" </p>
<p>"Mum and Dad are fine, they are out of town trading. Come in and rest. Xena, there's a stable round the back of the house you can put Argo in," Lila said. "We'll see you in a moment." </p>
<p>As Gabrielle went into the house with their belongings and Xena went to the stable with Argo, Lila began to tell of a strange problem they were having. </p>
<p>"We are having a strange problem. There have been whooshing sounds in the night. People have reported seeing what look like flames coming from the sky. They couldn't see anything at all as it was pitch black." </p>
<p>Xena and Gabrielle looked puzzled. Xena said, "Where have these things been happening?" </p>
<p>Lila continued telling the story, "It happened near the harvest fields, where we dig holes to put our waste and garbage. When the soldiers got there they found huge patches of burnt ground and huge claw marks in the soil. The claw marks alone were bigger than our biggest cow and there were other smaller claw marks as well." </p>
<p>Xena looked pensive. "I wonder where this beast could be hiding," she thought. She said "We'll have to go and look at the scene of this interesting occurrence tomorrow after we have had a rest. We have had a long journey and we need the rest." </p>
<p>When Xena woke up, Gabrielle and Lila had already got breakfast ready. Xena, Gabrielle and Lila had breakfast. Lila said, "I shall take you out to where the footprints have been sighted. It's quite a long way, we'll have to go on horses." </p>
<p>Lila left a note for her parents telling them where she was going and who she was with. </p>
<p>Gabrielle looked a bit frightened and when Xena noticed this, she said, "Gabrielle you can ride with me on Argo, while we follow Lila." </p>
<p>They set off down the path out of the town. They followed a path right out of town and up near a big mountain. It took them a long time and it was nearly twilight when they got there. They had brought some provisions and made a camp near the forest. </p>
<p>As they were setting up their camp Gabrielle felt something moving in the air. "Xena, there's something happening. It's as if something very large is flying through the air. They sound like very large wings flapping." </p>
<p>As Xena and Gabrielle looked up into the setting sun, they saw a great big dragon flying over the mountain and disappearing round the other side of the mountain. Xena, Gabrielle and Lila looked on in surprise as they wondered what it was. </p>
<p>Gabrielle said, "It looks like it's looking for something, because it's flying close to the ground and its head is always looking down." </p>
<p>Xena replied, "Let's look around in the forest tomorrow and we'll have a look for whatever the creature is looking for. The reason that it has been damaging the crops is because it's been trying to look for something." </p>
<p>They all went to sleep and wondered what it was that the dragon was looking for. </p>
<p>The next day they went into the forest. As they came to a three way fork in the path Xena said, "Let's all split up and take sections of the forest. We'll meet back here at night fall." </p>
<p>Gabrielle took the left path, Lila took the centre path and Xena took the right path, and they all waved at each other as they left. </p>
<p>As Gabrielle walked down the left path, she wondered what it was that the dragon was looking for all that urgently. She thought that the only thing that it would look for that urgently was a small dragon. She hadn't a clue what a small dragon ate and she couldn't be sure how long it would be before they discovered where its mother was hiding. </p>
<p>As she was pondering what she was going to do with a small dragon if she found one Gabrielle suddenly heard a strange noise. It sounded like a very small dog growling. Gabrielle stopped and concentrated very hard to fond out where the source of the sound was. She suddenly ran off into the forest where the branches and trees were getting thick. </p>
<p>When she got there she found a small creature that was being attacked by several people. She wondered if this creature was the thing that the dragon was looking for. She attacked the men with her staff and drove them off. </p>
<p>When she had finished driving off the creature's attackers she looked at the creature. It was a dull yellow colour and was very large. It was about five foot long and had a very large wingspan. Gabrielle thought that this must definitely be what the creature was looking for. </p>
<p>As she bent down to look at the dragon it breathed out and nearly set fire to Gabrielle's hair. </p>
<p>"Hey there be careful," Gabrielle said, "I'm a friend who wants to help you. We've seen what I think is your mother looking for you. We are going to help you find your mother." </p>
<p>At the sound of Gabrielle's voice the small dragon seemed to relax slightly and jumped into Gabrielle's hands. Gabrielle stumbled slightly but managed to hold on. </p>
<p>"Hey you're heavy," Gabrielle laughed. She thought that the dragon understood whatever she said. It looked really intelligent and Gabrielle hoped that the large mother dragon was just as friendly as this little small dragon seemed to be. </p>
<p>It took her the rest of the day to get back to the camp and Xena and Lila were already back at the camp when Gabrielle arrived carrying the dragon. </p>
<p>"So you found something then," said Xena, as Gabrielle was looking for something to tie the dragon to a tree with. </p>
<p>"Has anyone got a rope or something so I can tie this dragon up to a tree so he doesn't escape?" said Gabrielle. "There's some rope in one of the rucksacks in the tent," said Lila. </p>
<p>Gabrielle tied the dragon up to the tree and said, "I wonder where his mother is hiding?" </p>
<p>Xena replied, "As far as I can tell we've got a dragon. As far as I can remember my history, dragons live in caves, usually under a mountain. Most of the time they stay underground and only come out at night. That explains what the towns people heard and thought they saw." </p>
<p>Lila said, "There's some caves in the mountain's beyond the city. It's not far from the forest and we could make it in a day. There's even an entrance to a set of caves that have supposedly been made by ancient cavemen. His mother could be down there." </p>
<p>As they were packing up camp Gabrielle said to Xena "I wonder what dragons eat, do you know?" </p>
<p>Xena replied "I'm not sure. I think dragons eat meat but it's a good job I packed a lot of extra food." </p>
<p>As they made their way to the caves Xena couldn't help but wonder what they were going to find in the mountains. </p>
<p>Meanwhile in another part of the forest the warlord Draco was sitting on a log cleaning his sword when his second in command Fargos came up to him. </p>
<p>"You know that dragon horde that was supposed to be around here? Our lookout said he saw Xena and Gabrielle walking through the forest with what looked like a very small dragon. This could mean that she is looking for the horde of gold that is rumoured to be stashed in these parts." </p>
<p>With this news Draco thought a moment and replied, "Have you sent any of the men to follow her, Fargos?" </p>
<p>"Yes I did," said Fargos. "They are to report when Xena reaches her destination, wherever that may be." </p>
<p>Just then a soldier came into the clearing. "Draco Sir, Xena has made camp up in the mountains to the south of Poteidaia. It looks like she is searching for a way into the mountain." </p>
<p>Draco replied, "Good. Can you lead us to a part of the forest near where Xena and Gabrielle are?" </p>
<p>"Certainly," the soldier replied. </p>
<p>Draco thought that when they got the legendary dragon horde of gold, his army would be invincible and not even Xena could stop them. He also thought that he might make an alliance with all the other warlords and then attack Xena and kill her for all the defeats at her hand. </p>
<p>Meanwhile Xena, Gabrielle and Lila, after making their camp and unaware that trouble was heading their way, were looking for an entrance into the caves that Lila had told them about. </p>
<p>Xena looked up at the mountain and said, "It looks like there's a big hole about half way up the mountain. I wonder if that's the entrance into the caves that the large dragon uses?" </p>
<p>As Gabrielle and Lila looked up at the hole, they wondered how they were going to get up there. Just then the small dragon started snorting and making noises. Gabrielle said, "I think that the small dragon is trying to tell us something." </p>
<p>"Hey boy what are you trying to tell us eh?" said Gabrielle to the dragon. As she said this the dragon was rotating his head as if to say, 'Get on my back and I'll fly you up.' </p>
<p>Gabrielle suddenly realised what the dragon was saying and said to the others, "I think that the dragon wants us to climb onto his back and he'll fly us up to that entrance." </p>
<p>"The only thing I'm worried about is whether we are all to heavy for the dragon," said Xena. "Will he take us up one at a time do you think Gabrielle?" </p>
<p>"I'm sure that he would," said Gabrielle. "I'll go first." </p>
<p>Gabrielle climbed onto the back of the small dragon and it took off with a large swoop of its wings. As they went up Gabrielle hung on tight and in a moment was on the ledge that Xena saw from the bottom of the mountain. </p>
<p>Gabrielle waited as the dragon went down to collect the others, and when they were up on the ledge together Xena said, "Everyone stick together, we don't know what's in here, so everyone follow me." </p>
<p>As she went inside she didn't notice the arrival of Draco's army. When he saw the entrance he said "Bring the ropes and grappling hooks, we'll try to scale that cliff. It's the only place they could have gone. When we get up there and are following them we must be totally quiet, as we don't want them to know that we are following them. We'll wait a bit before we get up on the ledge for the same reason." </p>
<p>They found themselves in a damp and dark tunnel with water dripping from the ceiling and lots of green slime on the floor. Gabrielle and Lila looked at each other and were very afraid. Gabrielle whispered to Lila, "Don't be afraid we'll be all right with Xena looking after us. </p>
<p>When Xena and the others had gone far into the tunnel they came upon a fork. Xena wondered which way they had to go. She said, "I wonder which way we have to go?" As she said this the small dragon started to point his head down the right tunnel. Xena said, "We must be in the right place if the small dragon is right and is telling us the way to go." Gabrielle and Lila agreed and they started walking down the right tunnel. </p>
<p>When Draco and his men found the same fork in the tunnel he sent one half of his men down the left tunnel and Draco led the other half of the soldiers down the path towards Xena. </p>
<p>As Xena and company came to the end of the tunnel, they felt a lot of heat. </p>
<p>Lila said, "Xena ,it's getting hot in this tunnel." </p>
<p>"I know," said Xena, "we must be getting close to the lair of the big dragon then." </p>
<p>As they got further down the tunnel they came across bones and skeletons of those that the dragon had captured, brought up to her lair and eaten. Suddenly they came across a rather large cavern that had been hollowed out of the mountain. It was so large that they could not see the top of the cavern or the other side. </p>
<p>Xena said, "We must be in the lair of the dragon. I wonder where she is?" </p>
<p>As they wandered through the cavern, they heard a voice, big and echoing a lot with the largeness of the cavern. "Who enters the domain of the Amberdragon?" </p>
<p>As they heard this voice a very large dragon's head appeared through a hole in the side of the cavern. </p>
<p>Xena replied. "Xena Warrior Princess, I believe we have a friend of yours." Just then the small dragon got really excited and flew off towards his mother. "We found him in the forest and decided to help him find you." </p>
<p>Amberdragon said, "Thank you for finding him for me, I was flying everywhere looking for him." </p>
<p>"We saw you and wondered where you lived," said Gabrielle as she looked in awe at the giant head and part of a large neck that was sticking out of this hole. Gabrielle was also thinking about a new story that she could tell about dragons the next time she went to the Academy of Performing Bards. </p>
<p>Just then Draco's men arrived. Draco shouted, "All right Xena, hand over the dragon's horde of gold to us and we won't kill you." </p>
<p>Xena thought, Dragon's gold? I didn't know about that but Draco is not getting his hands on it if I have anything to do with it. </p>
<p>"Draco, I do not know whether there is any gold here, we haven't come across any yet. I wouldn't let you have it even if we found any gold here. Why don't you come and fight me. We'll have it out here and now. I know you want to kill me so why don't you at least try it." </p>
<p>Gabrielle and Lila knew that Xena had defeated Draco before and also knew that Draco was out for revenge, but they had faith in Xena and they knew what she was capable of. </p>
<p>Xena drew her sword and stood on a small rock in the middle of the cavern and waited for Draco to make the first move. As she was waiting Gabrielle held on to her staff harder, just in case she was needed to help Xena fend off Draco's attack. </p>
<p>No one noticed that Amberdragon and her son had left the cavern with Lila, telling Lila that it would be safer for the time being where she was taking her. </p>
<p>Draco suddenly attacked without warning and Gabrielle, seeing Draco before Xena, shouted, "Xena look out." Xena brought her sword up and instinctively blocked the thrust of Draco's sword. After she did this she brought her sword up and tried to get in a stroke to his stomach. Draco parried this with ease and thrusted towards Xena's arm. </p>
<p>Xena blocked this and back flipped away from Draco. and when she landed she drew her chakram. She threw it at Draco. He did not see it coming and had the sword knocked out of his hand. </p>
<p>Xena rushed over and said, "I've beaten you again Draco, now go and leave the dragons in peace." Unknown to Xena one of Draco's soldiers was creeping up on her with his sword ready to kill Xena. Gabrielle saw this and crept up behind him and whacked him very hard on the head. The soldier crumpled to the floor and dropped his sword which rolled very near to Draco. Gabrielle shouted, "Look out Xena he's going to grab that sword." Xena stood on the sword and kicked Draco in the stomach making him unconscious. </p>
<p>While all this was going on Lila had followed Amberdragon to a secret part of the cavern where all the treasure was. Lila was very surprised at the amount of gold, silver and other precious stones that were strewn about the floor and in a large heap right up to the ceiling of this small part of the cavern. </p>
<p>Amberdragon said, "This is what I stole from towns and cities that I destroyed when I was a younger dragon." As she said this it seemed to Lila that Amberdragon was nearly crying, whether it was with regret at having destroyed all these beautiful cities or something else Lila couldn't tell. </p>
<p>"I had hoped to end my days living peacefully here in the hills above Poteidaia, but it seems that men are trying to steal my gold," said Amberdragon. Lila said, "Xena's the best warrior in these parts. She will save your gold if she can. She has more experience of being a warrior and Gabrielle is not a bad warrior as well. I think we should go back and see how she and Gabrielle are getting on." </p>
<p>As they went back to the main cavern they could here the noises of fighting still, and as they saw the cavern come into view they saw Xena standing in a pile of bodies, one of which was Draco. Gabrielle was standing next to her looking tired and bloody. Xena said, "It's over. I had to kill all of Draco's army, or at least the one's he brought with him." </p>
<p>Just then the other half of the army that Draco had appeared in the cavern. Fargos, who was in charge of this half, said, "There's Xena and that's our leader's body she's standing over. Lets creep up on her and kill her and avenge our leader." They crept up to Gabrielle and Xena, and only Lila and Amberdragon saw what was going to happen if they did not help Xena. </p>
<p>Lila whispered something in Amberdragon's ear and jumped on top of Amberdragon. They swooped down on Xena and Gabrielle and Amberdragon picked up Gabrielle and Xena in her talons. After she deposited all three of them on a safe ledge far up in the top of the cavern she swooped down and let out an enormous ball of flame. It incinerated all the bodies and all of the other soldiers that had come to attack Xena. Xena, Gabrielle and Lila looked on in amazement as everything was bathed in a glow of red flame, and a lot of screams could be heard even from their lofty perch. </p>
<p>Then Amberdragon picked them back up again, and as they were descending Xena asked, "Is there any truth about your dragon gold?" </p>
<p>Amberdragon replied, "Yes there is, I'll take you to the secret hiding place where it is. All three of you can have a choice of anything you can see as a reward for helping me to find my lost dragon, and for helping to save me from those men." </p>
<p>"Thank you," said Xena, Gabrielle and Lila almost at once. </p>
<p>When they got back to the treasure cavern they all chose something. Xena chose an ornate jewel encrusted sword and Gabrielle and Lila both chose some exotic jewellery. </p>
<p>Xena asked Amberdragon, "Could we ride you back down to our camp next to the forest?" </p>
<p>Amberdragon replied, "Certainly can do that." </p>
<p>As they flew out of the cavern they flew twoards the beautiful red sunset and it seemed that they were flying right into it. Xena and Gabrielle sat clinging on to Amberdragon's back thinking what an interesting adventure it had been. </p>
</div>
</Layout>