---
import Layout from '../../layouts/Base.astro'
---
<Layout title="Family Trouble">
<div class="content">
<p class="para">Disclaimer: <em>Xena: Warrior Princess is a trademark of Renaissance Pictures</em><br />
© <em>January 1999 Martin Hooper</em></p><hr class="p-2"/>
<p class="para">Writers Note: This is the first time I have written romantic scenes. This is what I have wanted to say to Gabrielle in person so any feedback would be appreciated. If anyone wants to use any of my characters them email me. This was only going to be a small story but turned out to be my first epic instead!</p>
<p class="para">This story is dedicated to Renee O'Connor - one of the most beautiful actresses on the planet!<br />
Electra and her generals were planning their next raid. They were all standing around a table, on which rested a map of the area that they were in.</p>
<p class="para">"I want to attack this village here," said Electra pointing to the map. "We will take what we want for provisions and food and then kill everyone in the village."</p>
<p class="para">"You do realise that village is an Amazon village, it won't be easy to overcome their defences you know," said Theodorus.</p>
<p class="para">"I know that it is a Amazon village, Theodorus, as you know I have been keeping a close eye on what Xena has been doing since she met Hercules. It is a family matter. I also know that the companion that she travels with is an Amazon Queen of the village we are going to attack. If we can capture her then we can find out what sort of defences they have."</p>
<p class="para">Just then one of her soldiers came running into the tent. He said to Electra, "The person that you wanted to know about, she has been seen heading towards the ravine here."</p>
<p class="para">As he did this he pointed to the map. Electra said, "Theodorus, take some of the men down to the top of this ravine. Make sure that you take this woman alive."</p>
<p class="para">"Yes Electra," said Theodorus and walked out of the tent shouting to some of the soldiers that were hanging around. Electra thought that this was going to be a foolproof plan and she smiled to herself.</p>
<p class="para">"Xena it's about time I went back to my Amazon village to see what has been happening. I haven't been back for quite a while," said Gabrielle as they were walking along a hilltop road.</p>
<p class="para">"There's nothing important going on at the moment and no one wants our help, so why not. I'll come back to the village when I have visited my mother. I haven't seen Ephiny myself for a long time." replies Xena and as they are at a cross roads Gabrielle takes the opposite road to Xena and smiles at Xena as she walks away towards the Amazon village. "Take care of yourself Gabrielle, I don't want to have come to your rescue again!" Xena shouts at her retreating friend.</p>
<p class="para">It was a nice day and Gabrielle was walking along cheerfully and wondering what Ephiny and the Amazons had been up to since they last met. She was not paying attention as she entered an area that was notorious for bandits and warriors.</p>
<p class="para">Gabrielle followed the path that led down a narrow ravine that had very steep sides and lots of rocks and boulders on the floor as they fell from the very top of the ravine. As she got to the entrance of the ravine Gabrielle started to get a little bit worried about whether there was any monsters or bandits lurking in the high sides of the ravine.</p>
<p class="para">"Well if there is anything nasty I'm sure I can deal with it," thought Gabrielle as she strode out into the ravine.</p>
<p class="para">As Gabrielle went through the ravine she was very concerned about the fact that this place was a very good place for an ambush. Xena had taught her about ambushes and the places that were very good for ambushes and this was one of them.</p>
<p class="para">Just then a small stone clattered down from the top of the ravine. Gabrielle looked round in surprise and thought that it might be a bandit but when she could see that nobody was there she was mightily relieved although she made sure that she had her staff where she could get to it if necessary.</p>
<p class="para">Just then a bandit appeared in front of her. He was dressed in very dirty clothes, had a moustache and he held a large sword. There were a lot of his comrades about. He unsheathed his sword and suddenly charged.</p>
<p class="para">Gabrielle brought her staff up and hit this bandit right in the stomach. As she did this another bandit swung his sword at her and she ducked and he just missed her head. There were quite a few bandits and Gabrielle was having a hard time trying to keep the men's swords at bay.</p>
<p class="para">Suddenly there was another man who started fighting with Gabrielle. He was wearing a bright red tunic with dark brown trousers. He started by attacking one of the men who were attacking Gabrielle and knocking him out. He then turned round and started attacking the other men and knocking them out as well. They were fairing well when suddenly the bandits that they did not see knocked them both out.</p>
<p class="para">When Gabrielle woke up she looked round her cell. It was a standard castle dungeon cell. There was a window that was high up in the wall which let very little light into the cell, two planks of wood attached to the wall that were used for beds and a hole in the floor for bodily functions which smelt really bad. There was also a slimy substance on the floor. There were guards in the outer corridors that were changed every hour.</p>
<p class="para">Soon the other person in the cell woke up. He groaned and looked around. He took in the cell and looked at Gabrielle. "Hi how are you?" the man said.</p>
<p class="para">"I'm fine thank you. I'm Gabrielle." replied Gabrielle.</p>
<p class="para">"I'm Martinus. I'm a travelling warrior. I help people who can't fight off warlords and other different things like that. Looks like we will be in here for a long time". As he said this he got up and walked around the cell testing the bars for weakness. "The bars look solid there's not a chance that we could get away by just busting through the bars. We'll just have to think of another way."</p>
<p class="para">As Martinus looked at Gabrielle he thought that she was really beautiful and he decided that he would have to help her get out of this prison and to see her safely to where ever she was going when these bandits who have kidnapped her.</p>
<p class="para">"Where were you heading Gabrielle?" said Martinus after a quiet spell when no one spoke.</p>
<p class="para">"I was heading to an Amazon village that is not very far away. I am an Amazon Queen. Do you know of any warlords in this area?" replied Gabrielle.</p>
<p class="para">"Were you born a Amazon? Gabrielle"</p>
<p class="para">"No I wasn’t born into the Amazon Nation" replied Gabrielle and she told the story of how she and Xena had met the Amazons and she had tried to save Terreis the Queen's real daughter and brokered peace between the Centaurs and the Amazons.</p>
<p class="para">Just then a soldier came to the cell and put two plates of food through the bars. "Eat up" he said as he did so.</p>
<p class="para">"Food" said Gabrielle as she walked towards the plates. It was a simple meal of vegetables and stew. She picked up both plates and gave one to Martinus.</p>
<p class="para">"So tell me a bit about yourself Martinus." said Gabrielle. "I want to know what a handsome man like you is doing in a place like this?" she said teasingly.</p>
<p class="para">"Well I was trying to rescue you, that's what I'm doing in a place like this. As for a bit of information about me I'll tell you." replied Martinus.</p>
<p class="para">"I was born in Mende a little town in the Chalkidice area of Greece. I had a normal childhood being the eldest of three boys. We had a normal childhood but my village was a village that did not like violence. I wanted to be a warrior and my family would not let me. I put up with it and then when I was old enough I left home to seek my fortune in the world. I went to Poteidaia and then worked my way through the towns of Methone, Algai, Dion, Larissa, and then onto Delphi. I had quite a few adventures on the way.</p>
<p class="para">Gabrielle smiled at Martinus and said, "I was born in Poteidaia you know. My family is simple farmers. I have a sister Lila who as far as I know is still at home. We had our fair share of bandit raids when I was small, but one day I met my best friend who had saved me, my sister and some of the villagers. It was a very important day in my life as if I hadn’t met Xena I would not be an Amazon Queen and I wouldn’t be here now."</p>
<p class="para">When I was in Poteidaia I met a lady called Lila… " As Martinus talking Gabrielle interrupted and said "I have a sister called Lila, dark long hair looks like me. How's she doing, is she all right?"</p>
<p class="para">Martinus continued, "She's doing fine when I met her. She's got married and she's got a family now. A little girl called Gabrielle after her sister I presume. Your little niece is a really nice little toddler." As Gabrielle was hearing this she thought back to when she was a child and the happy times she had and also about Perdicas and the fact that Callisto had stopped her from being a mother.</p>
<p class="para">Gabrielle then told Martinus the story of when she met Xena and saved her from being killed by her home villagers and how she saved her village from Draco and his warrior band and the story of how she became an Amazon Queen.</p>
<p class="para">As they were talking they had finished their food and Gabrielle said "Is it me or is it getting cold in this cell?"</p>
<p class="para">"It is" said Martinus, "Do you want my coat to keep warm? I’ll be all right as I have a thick sheepskin jacket to wear."</p>
<p class="para">Gabrielle nodded and took the coat and put it on. She sat down next to Martinus and said, "Do you mind if I rest my head on your shoulder?"</p>
<p class="para">"No carry on it’s probably time to go to sleep." replies Martinus.</p>
<p class="para">As Gabrielle sat down and rested her shoulder on Martinus she thought that he was very attractive. Unbeknown to Gabrielle Martinus thought the same thing about her.</p>
<p class="para">While Gabrielle and Martinus were sleeping Electra was planning to invade the land around the Amazon Village that Gabrielle had visited not so long ago.</p>
<p class="para">When they woke up the next morning they found that one of the guards had left two trays of breakfast and Gabrielle wondered what was going to happen to them. She asked Martinus "What is going to happen to us then?"</p>
<p class="para">Martinus replied "I'm not sure but I think that whoever captured us must have done it for a reason"</p>
<p class="para">Just then one of the guards came into the cell. He said to Gabrielle, "The boss wants a word with you."</p>
<p class="para">As the guard said this Gabrielle looked at Martinus and he saw that she was afraid of what was going to happen next. He wanted to go up to her and give some reassurance that everything was all right. As he walked towards Gabrielle the guard gave Martinus a right-handed fist into the gut. As he did this Gabrielle gave a little shriek. "Martinus" she said under her breath.</p>
<p class="para">"We haven't decided what's going to happen to you yet buddy. Just make sure that you stay on our good side then lets see what happens." The guard growls at Martinus. He led Gabrielle out of the cell and left Martinus writhing on the cell floor in agony.</p>
<p class="para">The guard took Gabrielle up some stairs to the main chamber. Electra was sitting in a large ornate throne.</p>
<p class="para">"Welcome," said Electra, "I need some information. I need information about the defences of the typical Amazon village and I know that you know it."</p>
<p class="para">"What makes you think that I will readily betray my Amazon sisters? I won't do it you know," replied Gabrielle as she stared defiantly at Electra. Gabrielle thought that she would rather die than betray her Amazon friends.</p>
<p class="para">"If you don’t tell us what we need to know willingly then we will persuade you. Nothing is going to stop me you know. There is also a small family matter between Xena and me. I am her sister and, unbeknown to her, killed my family when her army attacked my village and I have been doing my research and now I'm going to kill her," said Electra, while she was saying this she walked up to Gabrielle and looked her straight in the eyes.</p>
<p class="para">Gabrielle was temporarily speechless. She looked at Electra and thought that she looked very similar to Xena and that she had the same facial structure as Xena and more brown hair than Xena's black hair and she was about the same size as Xena.</p>
<p class="para">Electra said to Theodorus, "Take her down to the torture cell. We will soon get the information out of her."</p>
<p class="para">Theodorus grabbed hold of Gabrielle and she struggled as she was taken down to the cells.</p>
<p class="para">Martinus was really worried about what was happening to Gabrielle, it was a long time until the guard came back carrying an unconscious Gabrielle in his hands.</p>
<p class="para">Martin gasped and went to take Gabrielle's body from the guard. Martinus took her over to the bed in the corner of the cell and noticed that there was significant bruising around Gabrielle's chest and torso and there was blood all over her tunic and she had a busted lip, which was where all the blood came from.</p>
<p class="para">Martinus knew a bit about treating wounds from his time as a soldier and he checked out Gabrielle's wounds. As he was doing this Gabrielle stirred.</p>
<p class="para">"You OK?" said Martinus, "I wouldn’t move if I were you at the moment as you look as if you have taken a really bad beating"</p>
<p class="para">"Yeah I'm OK," said Gabrielle weakly, "They wanted to know all the defensive positions and the number of the Amazon army. They plan to attack the village that I am the Queen of."</p>
<p class="para">"I suppose that you want to get out of here, even in your condition, to go and warn your friends about the attack eh?" said Martinus kindly.</p>
<p class="para">"Yes I think I cam manage. I don’t have anything broken do I?" replied Gabrielle.</p>
<p class="para">"No I don't think so, You might have to take it easy for a while afterwards though"</p>
<p class="para">"I intend to," said Gabrielle smiling at Martinus.</p>
<p class="para">Martinus replied, "The next time a guard comes in here I'll kill him and make sure that there are no other guards around. After that happens we can get out of here and then we can head to your village and warn them about the attack. You should get some rest as it will be tough on your bruises when we can get out."</p>
<p class="para">Martinus cradled Gabrielle's head on his lap while she rested and thought out how he was going to get out of this predicament. He rested as well making sure that Gabrielle was comfortable as she possibly could be while she rested. Martinus looked at Gabrielle and thought that she was the most beautiful lady in the world. The next morning when Martinus and Gabrielle had awoke they waited for the guard to bring them their food. As they did so Martinus said to Gabrielle " I don't want you to do any fighting if you could possibly help it as you aren’t really up to it." Gabrielle nodded and said painfully, "That seems the most sensible thing to do". Just then they heard the guard coming down the corridor towards their cell. He opened the door and didn’t notice that Martinus was hiding by the door.</p>
<p class="para">As the guard was putting the plates on the floor Martinus hit the guard in the stomach and the guard crumpled down to the floor. Martinus took the guard's sword.</p>
<p class="para">"Now we get out of here and find your village" said Martinus grimly. "I am not going to let the person who did this get away with it."</p>
<p class="para">Martinus and Gabrielle walked quietly out of the dungeon and followed the only corridor. They were the only occupants of the cellblock. Gabrielle and Martinus’ cell was right at one end of a long line of cells.</p>
<p class="para">As they were doing this a pair of guards were coming down through the cells. One of the guards spilt from the others and ran back down the corridor.</p>
<p class="para">The remaining guard stood in the corridor brandishing his sword. Martinus said to Gabrielle "Keep back and make sure that no one creeps up behind us."</p>
<p class="para">Gabrielle stayed back while Martinus fought with the guard. Martinus attacked the guard; making lots of attacks and making the guard fall back on his heels.</p>
<p class="para">Martinus knocked the sword out of the guards hand and then plunged his sword right into the mans chest. Gabrielle was looking the other way down the corridor. She saw that a guard was coming down the other corridor behind them. As Martinus had just dispatched the guard in front of him Gabrielle shouted, "Look out, behind you" and as she did so Martinus swung round and neatly decapitated the guard.</p>
<p class="para">"Come on Gabrielle we are getting out of here," said Martinus. He led Gabrielle up the flight of stairs that they were near and led them into the courtyard of the castle. Martinus was worried because they did not have any food or clothing that they would need for their trip to Gabrielle's amazon village.</p>
<p class="para">As they ran through the courtyard some more guards were coming down the stairs and they were shouting "There they are! Get them!" Martinus and Gabrielle ran out of the main doorway into the stables. Martinus got on a horse.</p>
<p class="para">"Come on Gabrielle get on this horse with me." Said Martinus as he grabbed Gabrielle and made sure that she was comfortable on the saddle. They rode off at high speed and they were off towards Gabrielle's amazon village.</p>
<p class="para">Martinus found a place to camp. It was a nice area that was right next to a river, which curled round and made a natural place to make a camp. There was a forest within easy walking distance of the place where Martinus had decided to make camp. Gabrielle went to collect wood for the fire as Martinus made sure that the horse was tethered and went to hunt for some food.</p>
<p class="para">When Martinus returned from hunting Gabrielle had made a great fire. Martinus said "How about some rabbit stew?" Gabrielle replied "That sounds good". Martinus skinned the rabbits and Gabrielle made some stew.</p>
<p class="para">Martinus asked Gabrielle "How are your ribs? You took quite a bit of a beating back there."</p>
<p class="para">Gabrielle replied "I'm OK there are a bit better but they still ache though."</p>
<p class="para">Martinus said "We'll rest here for the night so that you can make a start on recovery, then we'll make a start for your amazon village."</p>
<p class="para">"That’s fine, I really need the rest after what happened to me in that castle. I wonder why that warlord wants my village, I expect that we will find it out when she attacks."</p>
<p class="para">"Gabrielle do you mind if I ask you a personal question?"</p>
<p class="para">Gabrielle thought for a moment and said, "Sure go ahead"</p>
<p class="para">"Have you had any significant others?"</p>
<p class="para">As Martinus said this a sad look came over Gabrielle's face. She nearly started crying but she pulled herself together just in time.</p>
<p class="para">"I had a husband for about a day. His name was Perdicas."</p>
<p class="para">Tearfully Gabrielle told the story of how she got married and then was made a window by Callisto and the feelings of grief and helplessness.</p>
<p class="para">When she finished telling the story Gabrielle was crying gently. Martinus went over to Gabrielle and just held her and said "Gabrielle that was awful. You realise that you will find someone else who will love you and want to be with you."</p>
<p class="para">"You think so?" said Gabrielle trying to stop the tears from falling. "Yes I'm sure that there is someone for you somewhere out there."</p>
<p class="para">Gabrielle thought about this and said, "Yeah I believe that. I'll tell you a story about it if you want me to."</p>
<p class="para">"Why not," said Martinus.</p>
<p class="para">Gabrielle put on her best bardic voice and started off:</p>
<div class="text-center">
<p>"Long ago when Zeus first ruled over Olympus,<br />
There were only Gods and Goddesses.<br />
The monotony of time began to gnaw at him.</p>
<p>So, he held a competition.</p>
<p>Each God and Goddess was to form a creature<br />
to inhabit Grandmother Earth.<br />
Hera- the peacock<br />
Poseidon- the horse<br />
Athene- the owl<br />
Artemis- the deer</p>
<p>Zeus was pleased,<br />
though the other Gods began to debate<br />
which of them had created the greatest.<br />
So without a word, Zeus gave life<br />
To the most beautiful of four legged creatures:<br />
Man.</p>
<p>A tri-gendered species:<br />
feminine, masculine<br />
and another with the best of both.</p>
<p>A wonder to behold:<br />
the grace of the deer, the speed of the horse<br />
the majesty of the peacock, the wisdom of the owl<br />
And the intelligence to recognise their maker.</p>
<p>Worship began,<br />
in Dodona, then Argos,<br />
Then Delphi and Cyprus,<br />
Until at last every sacred city was founded.</p>
<p>Alas, the folly of humanity!</p>
<p>They wished to view these Gods they worshipped,<br />
till curiosity overcame their fear.</p>
<p>One by one they gathered at the base<br />
Of Mighty Olympus herself.<br />
They climbed and they clambered,<br />
striving toward the top.</p>
<p>Zeus, in his grief, knew he alone could stop them -<br />
He alone could halt the encroaching tide.</p>
<p>Hand extended for his thunderbolt,<br />
He cried out for them to halt.</p>
<p>Mistaking the cry for one of welcome,<br />
the trespassers pressed on.</p>
<p>And so, the Thunderbolt flew true,<br />
cleaving the encroachers in two.</p>
<p>Now all persons are born with 2 legs,<br />
and two arms.</p>
<p class="para">But only half a soul...</p></div>
<p class="para">So you see that story makes me very sure that my soul mate is somewhere out there" finished Gabrielle.</p>
<p class="para">"That's a nice story," said Martinus, "where did you learn it?"</p>
<p class="para">"I learned it at the Athens Academy for performing bards. It's a school for bards. I learned it from one of the students there when I was there for a term."</p>
<p class="para">Martinus thought for a moment and said, "Gabrielle, I've been thinking about that story you told me. I believe I might have found the other half of my soul. It's you Gabrielle, I think that you are beautiful and you have the nicest disposition of any lady I know. I know you have been married already and you may not be ready for another relationship but I want you to know that I am in love with you."</p>
<p class="para">Gabrielle said, "Martinus are you sure? I mean you hardly know me"</p>
<p class="para">"Yes I am sure Gabrielle. A lot of bards used to come through my village and told a lot of stories about you and your friend. You seemed to be very brave in those stories that I heard about you."</p>
<p class="para">"Martinus, bards have been known to exaggerate you know."</p>
<p class="para">"I know Gabrielle but actually seeing you trying to fight off those soldiers I knew I had to help you know. I couldn’t stand by and let a beautiful lady like you be captured, although that was what happened in the end."</p>
<p class="para">"I know and I'm grateful for that Martinus and I don’t think that we would have got out of that cell without you."</p>
<p class="para">"Gabrielle do you want to come and lean on me and we'll go to sleep here in this camp?"</p>
<p class="para">Gabrielle nodded and went to lie down with her head on Martinus’ shoulder. Before she went to sleep she reached up and kissed Martinus gently on the cheek.</p>
<p class="para">The next day Gabrielle and Martinus woke up and packed their things up. Martinus said to Gabrielle, "How are you this morning?"</p>
<p class="para">"Fine thank you. My ribs are fine now, there is a bit of stiffness there but I don’t think that there is any lasting damage." As she said this she was doing stretching exercises to make sure that her body was OK.</p>
<p class="para">"You'll have to tell me where your Amazon village is you know. I'm a bit frightened about Amazons you know Gabrielle, I wonder what kind of reception I'm going to get."</p>
<p class="para">"Don't worry about that Martinus. You should be all right with me. If not I'll try to persuade the rest of the Amazons that you can stay. I don’t think you'll have any problems seeing you saved their Queen" said Gabrielle.</p>
<p class="para">Martinus and Gabrielle packed their things into Martinus’ horse's saddlebags and Martinus asked Gabrielle "Do you want to ride? It'll be quicker if you do."</p>
<p class="para">"Why not" said Gabrielle as Martinus held his hand out to pull Gabrielle onto the back of the horse.</p>
<p class="para">They rode for three hours and they soon came upon the borders of the Amazon Village. Gabrielle explained that they would be meeting up with the advance perimeter guards and that when they met them Martinus had to follow exactly what Gabrielle did.</p>
<p class="para">As they were following the path two Amazons dropped out from the trees surrounding the path that they were on. They stood in front of Martinus’ horse. They were wearing short skirts with brown tops and animal masks. One was holding a staff that was similar to Gabrielle's and the other Amazon was holding a small but deadly sword.</p>
<p class="para">Gabrielle clasped her hands over her head and Martinus did the same. One of the Amazons removed her mask and said "Welcome Queen Gabrielle. My name is Solari and I will escort you and Xena ."</p>
<p class="para">They followed Solari into the village. Solari led Gabrielle to the Queen's hut and Gabrielle said to Solari "Can you find Ephiny and ask her to come to my hut please." Martinus followed Gabrielle into her hut.</p>
<p class="para">A short time later Ephiny knocked on the door. "Enter" said Gabrielle as she stood in the middle of the hut looking at the maps of the surrounding area. Ephiny was a small lady with curly blonde hair who was wearing a small brown skirt with matching brown top.</p>
<p class="para">"Hello Gabrielle," said Ephiny as she gave Gabrielle a hug. "How are you?" she said.</p>
<p class="para">"I'm fine thank you. How's the family?"</p>
<p class="para">"Fine. Xenon is living with the Centaurs and is doing well. What brings you here?" replied Ephiny.</p>
<p class="para">Gabrielle smiled and said "Well besides seeing you and the rest of my Amazon friends I have some grave news."</p>
<p class="para">Gabrielle proceeded to tell Ephiny about what had happened to her and the fact that Electra was about to attack the village. She also mentioned that Martinus the man she bought with her. Martinus stayed in the background while the two Amazons renewed their acquaintance.</p>
<p class="para">Gabrielle said to Martinus, "I would like you to meet a friend of mine. Martinus this is Ephiny who I told you about. She wants to meet the person who rescued the Queen"</p>
<p class="para">Martinus shook Ephiny's hand and said "Nice to meet you Ephiny. I've heard a lot about from Gabrielle. I want to help you defend your village, I'm have had some experience of battle"</p>
<p class="para">Gabrielle said "We'll need all the help we can get. We'd be glad of your help."</p>
<p class="para">Martinus asked, "Do you have any maps of the surrounding area? We'll have to make sure that Electra's army doesn’t creep up on us and we will have to make sure that there are guards and patrols active all the time. We will have to send scouts out too. We don’t want to be caught unawares."</p>
<p class="para">Ephiny said she would make sure that there were patrols and increased vigilance by the rest of the village. As she was saying this she walked out of the door to go and check up on things.</p>
<p class="para">Martinus and Gabrielle were left in Gabrielle's hut alone. Martinus said to Gabrielle, "I don’t want anything to happen to you. I know that you will want to join the upcoming battle and nothing I can say or do will make you change your mind. I want you to survive this." As he said this he gazed into Gabrielle's eyes smiling.</p>
<p class="para">Gabrielle said "You're right about that. The Queen has to go into battle with her troops. It’s a tradition." Martinus gently put his arms around Gabrielle and kissed her gently on the lips. As they parted they smiled at each other. Gabrielle said "Let's go to the main hut where everyone else congregates and see what's happening."</p>
<p class="para">Martinus followed Gabrielle into the communal hut. It was a large hut with a low ceiling. There was a lot of tapestries around the hut and Martinus asked Gabrielle what they were. Gabrielle said that they were commemorating important battles and other parts of Amazon history.</p>
<p class="para">Martinus looked around at the tapestries and thought that the Amazons had a rather interesting history.</p>
<p class="para">Martinus listened to Gabrielle and Ephiny telling stories about the Amazons battle history when Solari came into the hut. Solari said "There are reports from our south flank that a large unknown army has begin to gather. It could be the army that Gabrielle has been talking about, we have some scouts that are going to keep an eye on what the army is doing."</p>
<p class="para">Gabrielle said "Your right Solari we'll have to go and check this out. As I am the only person that knows what Electra looks like I'll have to go. I am asking for volunteers for the rest of the party." Martinus, Solari and Ephiny said "I'll volunteer." Gabrielle said "Right we'll go right now. Meet me in the square in 10 minutes."</p>
<p class="para">Solari and Ephiny left. Martinus said to Gabrielle "Do you think that this is Electra's army?" Gabrielle replied "There is only one way to find out. Look don’t feel that you have to protect me I can take care of myself you know."</p>
<p class="para">"I know that Gabrielle but I don’t know what I would do if you died. I suppose I'd get over you in the end but it would be hard and every time I'd hear a bard tell one your stories I would remember you. The thing is Gabrielle is that you remind me of my fiancée. You remind me of her. You had the same coloured hair and facial features. I am quite surprised that you look a lot like her."</p>
<p class="para">Gabrielle held Martinus’ hand as he told her this. "What happened?" she said.</p>
<p class="para">"She was killed in a bandit raid on our home village. She got caught in the fight as the bandit's soldiers came into our village and started attacking. She tried to defend herself but she was not really a fighter. She was one of the village bards like yourself. She didn’t stand a chance against a well-armed soldier. I was in the other side of the village helping to defend the village and one of the survivors told me. I was distraught and it was then that I decided to honour her memory by helping other people."</p>
<p class="para">Gabrielle said, "I wish I could have met her, we could have swapped stories and tales. She sounded a really nice person."</p>
<p class="para">"She was Gabrielle. I was looking forward to raising a family together and having many happy days together."</p>
<p class="para">Martinus followed Gabrielle out of the hut. While he was doing this he made sure that he had his sword ready in case he had to use it.</p>
<p class="para">Gabrielle, Ephiny and Solari were waiting for Martinus when he got into the square. He smiled at the ladies and said "Solari do you know where we are going?"</p>
<p class="para">"Yes I do. We are going to the south part of the amazon boundary. The scout that saw them showed me on the map. Lets go."</p>
<p class="para">Martin, Gabrielle and Ephiny followed Solari through the countryside that surrounds the Amazon village. They were very quiet so that no one could hear them coming. Gabrielle and Martinus were following.</p>
<p class="para">Ephiny thought that she heard something. She quietly motioned for the others to stop. As they did this a guard was seen walking through the woods on another path that was close by. They were very quiet as they were obviously approaching Electra's camp.</p>
<p class="para">As they were walking through the forest near the camp no one noticed that they being followed by another of the guards.</p>
<p class="para">He ran off to tell Electra that they were being spied upon. When he described Gabrielle Electra interrupted and said "If we can capture one of them then we can hold the rest of the village to ransom. They won't fight me when we send a message to their village saying that we have their Queen. We'll have won the battle without having to fight anyone. Theodorus take some of the guards and make sure that you bring her back alive. She is no use to me dead got that?" "Yes Electra, you men come with me" said Theodorus. As he said this he pointed to some of the guards that were standing around and they followed him out of the camp and into the jungle intent on capturing Gabrielle.</p>
<p class="para">Gabrielle was following Martinus through the forest and she was so intent on following him she didn’t hear Theodorus come up and grab her. Martinus thought he heard something but wasn’t sure. He told the others to wait and went back up the path. When he found her staff that she had dropped when she was kidnapped he had a bad feeling about this.</p>
<p class="para">He went back to Solari and Ephiny and whispered "I think one of the guards has got Gabrielle. This makes this camp Electra's. I hope that she is all right but we can't take any action. I think that she has been kidnapped for a ransom or something, we know that Electra is trying to destroy the camp and I hope that she has kidnapped Gabrielle so that we won't put up any resistance, that’s the only thing I can think of."</p>
<p class="para">While he was saying this Martinus was fervently hoping that Gabrielle was going to be all right. During the time he had met Gabrielle he had grown very fond of her.</p>
<p class="para">Ephiny replied "Your probably right Martinus. We can't do anything here, let's wait back at the village and we'll see what transpires."</p>
<p class="para">Gabrielle found herself in a tent and she was tied to a post in the middle of the tent. "Great" she thought, "Martinus isn't here this time, but I think he heard me. I hope that he's going to get me out of here again…"</p>
<p class="para">While she was waiting in the tent Electra was planning what to do next with Theodorus. "Now we have Gabrielle we can put the plan into action as soon as possible. We don’t want to give the Amazons enough time to mount a rescue mission. It is a possibility you know."</p>
<p class="para">"You're right Theodorus we'll go at first light tomorrow, you me and Gabrielle. They won't do anything while we have their Queen."</p>
<p class="para">Electra walked down into the dungeon and went into Gabrielle's cell. She looked at Gabrielle and said, "We will occupy your village you know. My plan is foolproof, I have their Queen and they wouldn’t dare try to attack us in case I decided to kill you as they attacked."</p>
<p class="para">Gabrielle replied, "I don’t think this is going to work. I know the commander of my army and I don’t think she will give up that easily. Anyway if they can keep you at bay for two to three days then Xena will get here."</p>
<p class="para">Electra looked surprised. Although Xena didn’t know it she was Electra's sister. She was born after Cortese had attacked Amphipolis. She had got married and lived in one of the villages that Xena had attacked when she was a warlord. Electra was a very good warlord and she had heard of Xena's prowess as a warrior and wanted to see if she was better than Xena.</p>
<p class="para">"In that case, we won't attack until she gets here then. I particularly want to face her in battle, " said Electra to Gabrielle as she sat in the cell. Gabrielle thought that this warrior would stand no chance against Xena but she didn’t know how good Electra was.</p>
<p class="para">"Don’t go anywhere!" Electra said sarcastically as she walked out of the cell. "I will come back and get you before we give the Amazons the ultimatum tomorrow."</p>
<p class="para">As Electra left the cell Gabrielle hoped that Martinus and Ephiny were coming to get her out of the cell.</p>
<p class="para">Back in the Amazon village Martinus was so worried about Gabrielle that he decided to go in and get her back himself.</p>
<p class="para">As he was walking through the village he saw Ephiny. He said to her "Ephiny I'm so worried about Gabrielle. I might be wrong about Electra giving us an ultimatum, she could be doing all sorts of nasty tortures. Electra did torture Gabrielle when we were in her dungeon the first time."</p>
<p class="para">Ephiny replied "Don't worry about Gabrielle Martinus. Gabrielle has learned a lot about defending herself from us and I'm sure that Xena would have taught her a lot as well. She'll be all right, we'll just have to wait and see what Electra says."</p>
<p class="para">"Yeah your right Ephiny. It's just that I am very fond of Gabrielle and I don’t want her to be hurt while I'm doing nothing to save her. She's one really special person and a great bard too." replied Martinus.</p>
<p class="para">Martinus and Ephiny both went to their own huts to sleep as it was late and they were both worried about Gabrielle. They both had disturbed nights sleep.</p>
<p class="para">Before dawn Gabrielle was awoken by Theodorus who roughly manhandled her through the cell door. He took her outside the castle to where Electra and the rest of her army was waiting.</p>
<p class="para">"Now we will see whether your amazon subjects value your life higher than their village. Theodorus take Gabrielle on your horse and make sure that she doesn’t escape. Lets go." said Electra.</p>
<p class="para">As Theodorus and Electra went through the jungle, Gabrielle wondered what was going to happen and whether Xena was around. She also hoped that Martinus and Ephiny were going to try and rescue her before something nasty happened to her as she knew that the ultimatum was not going to be adhered to.</p>
<p class="para">After a while Gabrielle saw that they were on the edge of the Amazon Lands. Electra stopped the horses and got off. She said to Theodorus "Bring Gabrielle with you."</p>
<p class="para">They followed the path past the Amazon boundary markers and suddenly three amazon warriors who were guarding the borders appeared from the trees.</p>
<p class="para">As soon as Electra saw the guards she said "Make a wrong move and then your Queen gets killed. If I were you I would drop your swords."</p>
<p class="para">When the guards saw that it was Gabrielle that was tied up on the horse with the other soldier they looked at each other and decided to drop their swords as they didn’t want to be the one who gave Electra the excuse that she needed to kill or injure Gabrielle. "Good", said Electra, "Now take me and my second in command to your village."</p>
<p class="para">The two Amazon warriors took Electra and Theodorus to the Amazon village. Gabrielle was taken off the horse and roughly pushed so that she stood next to Electra. Electra shouted "Whose the person in charge here?"</p>
<p class="para">Martinus was talking to Ephiny when they heard Electra. Martinus said to Ephiny "I think that she wants to you."</p>
<p class="para">Ephiny walked out into the Village Square. When she saw Gabrielle tied up her heart went out to her and she hoped Gabrielle had no wounds or injuries.</p>
<p class="para">She said "I am, seeing that you have our Queen you have there. What do you want with us?"</p>
<p class="para">Electra said "I want to surrender your village to me. We will give you until sunrise tomorrow. If you do not we will kill Gabrielle and attack and destroy your village."</p>
<p class="para">After she said this Theodorus pushed Gabrielle back on the horse and rode off with Electra. Ephiny was deep in thought as she went back to her hut where Martinus was waiting for her.</p>
<p class="para">"What do I do Martinus, I can't just give up our home village, Gabrielle wouldn’t want us to do that."</p>
<p class="para">"What we need", replied Martinus, "is someone who can fight better than her. I'm a pretty good fighter but the thing is we don't know what kind of fighter she is."</p>
<p class="para">"I know Martinus", said Ephiny, as she paced up and down in thought, "I just don’t know what to do, I suppose that we will just have to make sure that the village is well defended." Meanwhile back on the outskirts of Amazon Lands Xena was travelling to meet Gabrielle. Xena was relaxed after a good three or four day holiday and she couldn’t wait to see Gabrielle again. She walked Argo through the Amazon Lands towards the village. Xena didn’t know that she had walked past Electra's camp although it was quite far away from the path that she was taking.</p>
<p class="para">Xena dismounted Argo and walked into the middle of the village. She saw the preparations that the Amazons were making for the defence of their village and wondered what the trouble was.</p>
<p class="para">Ephiny was walking through the village deep in thought when she bumped into Xena. "Hello Ephiny", said Xena, "What's the problem? Will you make sure that Argo gets stabled." Ephiny asked a passing villager to take Argo to the stables.</p>
<p class="para">"Hi Xena am I glad to see you. A warlord called Electra has kidnapped Gabrielle and given us an ultimatum that if we didn’t surrender before sunrise tomorrow she's going to kill Gabrielle and destroy the village. I'm just making sure that we have a chance. I want you to meet Martinus. He saved Gabrielle when she was captured by Electra the first time, I'll let him tell you about that."</p>
<p class="para">"Sure I would like to meet the man who saved Gabrielle" replied Xena.</p>
<p class="para">Ephiny took Xena to Martinus’ hut. She introduced them and left saying that she had other things to attend to.</p>
<p class="para">"Martinus what happened?" asked Xena.</p>
<p class="para">Martinus proceeded to tell Xena what happened when he met Gabrielle in the ravine right up until the present. "Xena if you are going on a rescue mission I want to come with you. I have grown fond of Gabrielle and I don’t want to see her get hurt. I guess you already know that she is someone special. I was wondering about issuing a challenge to her, the loser gets to leave the area, that sort of thing but we don’t know that much about her fighting style so I don’t think that would work."</p>
<p class="para">"You’re right, " replied Xena, "it pays to know something about the warrior that you are facing, I don’t think that is a good idea anyway. I don’t know where this camp is. I want you to take me there as soon as possible so that we can rescue Gabrielle and make sure that this warrior doesn't trouble these parts any more. Make sure that we have the defences ready because I'm sure that when Electra finds out that we have rescued Gabrielle then she will attack straight away."</p>
<p class="para">Martinus was inwardly relieved that he was finally getting to do something as he was getting rather impatient. Just then Ephiny walked back in and Xena told Ephiny that Martinus and herself were going to try and rescue Gabrielle.</p>
<p class="para">Martinus made sure that his sword was ready and his armour was comfortable. Himself and Xena got ready to go out and rescue Gabrielle.</p>
<p class="para">Ephiny wished them both good luck. Xena said to Ephiny "You can come with us as well if you want to. After all Gabrielle is your Queen."</p>
<p class="para">Ephiny replied "Sure why not, I'll just go and find Solari and tell her that she's in charge while we go."</p>
<p class="para">Xena and Martinus waited for a couple of minutes while Ephiny went and told Solari that they were going to rescue Gabrielle. When she returned Xena and Martinus were ready to go. Xena said to Solari "Be ready to attack the camp. When Electra finds out that Gabrielle has been rescued then she will not wait until she attacks. Give us three hours to get back here. Make sure that the Amazon army is ready to fight." Solari nodded and replied "Good Luck Xena". Martinus led the rest of them out of the camp and through the forest.</p>
<p class="para">Martinus led them through the forest towards the camp. Xena was deep in thought as they walked. She was thinking about how she was going to rescue Gabrielle and stop this warlord. She didn’t know that it was her sister that she was going up against.</p>
<p class="para">Martinus suddenly said "We are approaching the camp now Xena." As Martinus said this Xena was brought back from her thoughts.</p>
<p class="para">"Right", Xena replied, "We make sure that we are very quiet. Martinus you go and find Gabrielle and Ephiny and me will keep the guards busy. We'll meet back at the Amazon camp."</p>
<p class="para">As Xena and Ephiny went off in one direction to cause havoc Martinus went towards the tent he thought was the prison tent. He decided to interrogate a guard.</p>
<p class="para">When he saw one he crawled up behind him and said "One word out of you and you'll die." As he did this he put a nerve pinch on the guard, "Now your brain will run out of blood within minutes unless I release you. Where is the prison tent?"</p>
<p class="para">The guard was having difficulty breathing but managed to say "Over there, the grey tent with the flag flying from it." Martinus released the nerve pinch on the guard and said "Thank you."</p>
<p class="para">Martinus headed over to the prison tent. There was two guards which Martinus dispatched with no problems. He burst in and when Gabrielle saw him she shouted "Martinus over here."</p>
<p class="para">Martinus walked over to where Gabrielle was tied up and broke the rope with his sword. When Gabrielle got up she hugged Martinus and said "I'm glad you’re here. We have to go back to the village, Electra's going to attack."</p>
<p class="para">"We know" said Martinus, "I saw you when she came to give us the ultimatum. Just after that Xena came into the camp looking for you."</p>
<p class="para">When Gabrielle heard that she smiled. Just then they heard someone shouting that were two warriors in the camp and that all the soldiers were needed to defend the camp. Gabrielle looked at Martinus questioningly. "That’s Xena and Ephiny making sure that the guards are busy while we get away."</p>
<p class="para">Gabrielle smiled to herself, "Don’t worry about those two I'm sure that they can manage to get back to the camp."</p>
<p class="para">Martinus replied "Lets go, I know the way back to the camp."</p>
<p class="para">Gabrielle followed Martinus all the way back to the Amazon camp. Gabrielle told Martinus that she was tired and wanted a rest when she got back to the camp. Martinus said that she probably could if you want to. When Electra found out that Gabrielle had been rescued she ordered the attack to begin at once. Electra shouted at the rest of the soldiers to attack the village.</p>
<p class="para">They began to march out of their camp down towards the Amazon village.</p>
<p class="para">As they began to march out of Electra's camp, unbeknown to them, Ephiny and Xena were in hiding and they saw them go out of the camp. They hoped that they would get back to the Amazon village before they did.</p>
<p class="para">Ephiny and Xena got back on their horses and went back to the Amazon village. They told Gabrielle and Martinus that Electra's army was on the way to attack the village.</p>
<p class="para">Gabrielle said to Ephiny "Make sure that all the defences are manned as we planned and make sure that no enemy soldier gets in the village." Xena went with Ephiny. Gabrielle smiled at Martinus. "Well just make sure that you come back alive" Gabrielle said to Martinus. "Don’t worry Gabrielle I intend to make sure that I do and I hope that you do too. Just stick close to me and I'll try and protect you."</p>
<p class="para">Gabrielle and Martinus went out of hut they were in and looked around. They could see the towers in the distance in which the guards were keeping a lookout for any sign of Electra's army. As Gabrielle and Martinus were watching Xena and Ephiny arrived.</p>
<p class="para">"We're all ready Gabrielle Xena and I have made sure that there is no part of the approaches to the village that we cannot see. We will have advance warning of the approach of the army." Said Ephiny as she got her breath back after walking all-round the perimeter of the village.</p>
<p class="para">"Gabrielle I want you to stick close to Martinus during the battle. I trust you'll keep her safe" said Xena to Martinus as Gabrielle and Ephiny went into a huddle talking about the battle.</p>
<p class="para">"Don’t worry Xena" Martinus replied, "I'll keep an eye on Gabrielle for you."</p>
<p class="para">Just then a warrior came up to Gabrielle and Xena and Martinus heard her tell Gabrielle that the army was heading this way. Gabrielle and Xena followed the warrior towards the part of the perimeter that was being approached by Electra's army. They reinforced the guard there and they settled down to wait.</p>
<p class="para">Gabrielle was very nervous and she was pacing up and down slightly behind Xena and Martinus. Xena saw this and went to talk to Gabrielle. "Nervous eh?" said Xena.</p>
<p class="para">"Yeah sort of. Every time I have to fight I get nervous. I don’t like fighting you know." Replied Gabrielle who was looking a bit worried as well.</p>
<p class="para">"That’s a good thing Gabrielle", Xena replied, "I know you can handle your staff well. I also know that you are sensible enough to shout for help if you need to. All you have to do is make sure that you don’t wake on more warriors than you can handle." Gabrielle nodded in agreement.</p>
<p class="para">As Xena was saying this there was a blood curdling scream coming from the other side of the perimeter. All the warriors looked round and saw that there was a huge line of the enemy soldiers advancing towards the Amazon camp. Xena leaped right into the middle of the enemy line. She was wielding her swords and there was a huge pile of bodies mounting up around her.</p>
<p class="para">Martinus, Gabrielle and Ephiny soon had their hands full with enemy soldiers. Martinus kept close to Gabrielle while he was dodging swords and he had had his hands full as he kept getting attacked.</p>
<p class="para">Electra smiled to herself as she saw that Xena was battling her way towards her. She watched the way that Xena fought and she was thinking about the tactics that she was going to use when she finally got there and that it would be sweet revenge for the destruction of her family and the village that she grew up in.</p>
<p class="para">Martinus and Gabrielle were fighting hard, a pile of unconscious bodies pilling up near Gabrielle. Suddenly there were three or four soldiers that had started attacking Gabrielle. She shouted to Martinus 'Martinus I could do with some help over here.'</p>
<p class="para">Martinus fought his way towards the back of the soldiers that were fighting Gabrielle and shouted 'Hey pick on someone who can fight back properly' As he did this all four soldiers stopped attacking Gabrielle, who by this time, was very tired, and then started to parry and thrust and fight with the soldiers. Gabrielle did her best to distract the soldiers and make Martinus’ job easier while he was fighting.</p>
<p class="para">Martin easily dispatched three of the soldiers and he was fighting the last one. 'So you think you can beat me eh?' said the soldier.</p>
<p class="para">'Yeah I think I can beat you even with one hand tied behind my back, but as we are in the middle of a war I won't bother' replied Martinus. As he said this he rose his sword and swung it right at the soldier's head. The soldier was taken by surprise and nearly didn’t bring his sword up in time to stop Martinus’ sword piercing right through his shoulder. As he was fighting this man he did not see one of the other soldiers had crept up on him. Gabrielle shouted a warning but Martinus did not react in time and the other soldier ran his sword right into Martinus’ right shoulder.</p>
<p class="para">Martinus kept on fighting the best he could until he collapsed with a whole pile of dead bodies around him. Gabrielle saw that he had collapsed and ran over to his body. Gabrielle knew a small amount of healing skills but she saw that Martinus’ wound she knew that this would be beyond her.</p>
<p class="para">She saw that Ephiny and Solari were fighting nearby. She shouted to them "Ephiny, Martinus has been wounded. We need to get him back to our village so the healer can look at him." Ephiny and Solari helped Gabrielle take Martinus back to the village where it was relatively peaceful and the fighting hadn't got that far yet. When Gabrielle had finished she hurried back to find Xena and make sure that she was all right.</p>
<p class="para">Meanwhile Xena had fought her way up to where Electra was watching the fight take place. Xena made sure that she had her weapons ready. "Who are you and what do you want with this village?" she said to Electra. Electra was standing there in full armour with a shield that was mounted on the horse's saddle.</p>
<p class="para">" I'm Electra. The only reason that I was attacking this village was that I knew you would come to their aid. I haven't forgotten that your army had killed my husband and my family when your army attacked our village. I have been waiting for the chance of having my revenge on you."</p>
<p class="para">Xena wasn’t surprised about that. She was surprised though that there weren't more people out for revenge on her. It was one of those things that she would never get used to.</p>
<p class="para">"All right then Electra, lets end it here, we fight to the death, right here right now" as she said this she brought up her sword. Electra brought her sword up as well and they both circled each other as they were sizing up each other ready to fight.</p>
<p class="para">Back in the Amazon village Gabrielle, Ephiny and Solari were tending to Martinus’ wounds, The battle had not got as far as the village and there was peace and quiet. Gabrielle was pacing up and down in the room that was next to the room that Martinus was. They were waiting to see what the Amazon healer Kelly had to say about Martinus’ wound.</p>
<p class="para">They were all worried about him as they knew that he had saved their Queen more than once. They had just decided to do this when Kelly appeared.</p>
<p class="para">"Is he going to be all right?" said Gabrielle. Kelly replied "He'll live and heal fully, but I'm afraid that he will have a scar where the sword pierced his shoulder. He needs rest and he needs to exercise his right shoulder but if you want to visit him you can do. Just don’t be too long."</p>
<p class="para">Gabrielle went through the door and saw that Martinus was lying on the bed. He looked pale and he had a sheen of sweat on his body. Gabrielle sat on the end of the bed. When he saw Gabrielle he smiled and said "Hi there"</p>
<p class="para">"You don’t look very well Martinus", Gabrielle said, "How do you feel?"</p>
<p class="para">"Besides the great ache every time I move my right shoulder I'm fine. You have a fine healer here Gabrielle give her my compliments on her bedside manner. What happened after I collapsed?"</p>
<p class="para">"I'm not sure Martinus Xena is still fighting Electra and I think that the rest of the soldiers have been either killed or rounded up. I'm going to go and see how Xena is getting on if I can find her. Martinus I was extremely worried about you. I hoped that your injuries were not as bad as I feared." Gabrielle was almost crying as she said this.</p>
<p class="para">"Don’t worry about me know Gabrielle. I'll be fine, you did the best thing that you could in bringing me to your healer. Kelly has been telling me that the best thing you do for a wound like this is to get proper attention as soon as possible after the wounding."</p>
<p class="para">Gabrielle walked up to Martinus bedside and kissed him gently. He smiled at Gabrielle and said "Now you be careful I want to see you when I have fully recovered."</p>
<p class="para">"I will" replies Gabrielle "I am glad that your going to be all right."</p>
<p class="para">Gabrielle walked out of the door and smiled to herself. She had not been herself because she had been worried about Martinus, now that she knew that he was going to be all right that it was a weight of her shoulders. As she walked into the outer room she broke into a big grin. Ephiny and Solari knew then that Martinus was going to be all right, Gabrielle said to Ephiny "Do you know where Xena is? I know that she was going off to fight Electra."</p>
<p class="para">Ephiny said "I don’t know exactly but I have a good idea. Why don’t all three of us go and make sure that she is all right."</p>
<p class="para">Xena and Electra had started fighting by the time Gabrielle and the others had got to where they were. Xena had Electra on the floor with the point of her sword at her neck and was about to plunge the sword right into Electra's neck. Electra said "Go ahead kill me just like you killed my family." Xena replied "I don’t kill anyone anymore, at least, not unless they deserve it."</p>
<p class="para">Gabrielle shouted "Xena don’t do it. I have something important to tell you." Gabrielle hoped that Xena had heard her. She hoped that Xena had not done anything she would regret after she had told her the information that she had.</p>
<p class="para">As she ran up to where Xena and Electra was and she said, "Xena Electra told me something when she held me prisoner. She told me she was your sister. I don’t know if she was telling me the truth or not. She said that she was going to kill you for killing her family in one of your armies raids."</p>
<p class="para">Xena was surprised and shocked. She said to Electra, "Is what Gabrielle told me true, are you my sister?"</p>
<p class="para">"Yes it is," replied Electra, "It is. I was living happily in Pella with my husband and my children when attacked. After the ensuing battle I discovered that I was the only survivor in our family. Your army had killed my family and when I discovered who it was that had attacked I vowed to track you down and kill you."</p>
<p class="para">Xena was speechless, she looked very distraught and Gabrielle wondered if Xena was all right. Gabrielle asked Xena "Are you OK?"</p>
<p class="para">Xena replied, "Yeah I think so, I'm just a little shocked that’s all." She said to Electra "Carry on what happened next?" As she said this she let Electra get up.</p>
<p class="para">Electra continued her story "I made it my task to study your fighting style and all your strategies, I thought I could beat you in a fair fight and obviously I couldn’t. I thought I could be a warrior and I was obviously deluded. You beat me fair and square."</p>
<p class="para">Xena replied, "Look I'm really sorry about your family. I know how much hurt and pain you have suffered. I too have lost loved ones and seen them die before my eyes when I could do nothing about it. I suggest that we go into the village and talk about this further." Electra nodded at Xena and they both followed Gabrielle into the village.</p>
<p class="para">While Xena and Electra were talking Gabrielle decided to go and see Martinus and see how he was faring. Unbeknown to Gabrielle Theodorus was still hanging around the village looking for Electra and hoping to rescue her. As he saw Gabrielle walking along the village square alone and without her staff he spied the ideal opportunity to make sure that he got Electra and himself safely out of the village.</p>
<p class="para">Just as Gabrielle was rounding the corner of Martinus’ hut, Theodorus walked up quietly behind Gabrielle and pinned her arms behind her. He said to Gabrielle, "If you want to live take me to where you're holding Electra and no one will get hurt."</p>
<p class="para">Gabrielle thought about this and decided to do as he said knowing that Xena and the other amazons would be able to rescue her.</p>
<p class="para">Martinus was completely healed now and was practising his swordplay when he heard Theodorus talking to Gabrielle. He looked out of the window and saw that Gabrielle was being handled roughly by what looked like a soldier.</p>
<p class="para">He went to find Xena and tell her about it. As he wandered around the village he saw Ephiny and Solari and proceeded to tell them about Gabrielle and the fact that someone from Electra's army had grabbed Gabrielle as he heard them talking and saw her being manhandled by a rough looking soldier.</p>
<p class="para">Ephiny said, "We'll organise a search party and make sure that Gabrielle is all right. If you spot them first then make sure that you don’t get injured again. Shout out if you see or hear anything OK" As she said this she smiled at Martinus. Martinus nodded as they split up to look for Gabrielle.</p>
<p class="para">They parted and Martinus went into the Town Square and he saw Gabrielle and Theodorus waiting in the centre of the square. He drew his sword and decided not to shout to Ephiny and Solari and to see what would happen.</p>
<p class="para">"So we meet again," said Theodorus who recognised Martinus from when he had been captured with Gabrielle.</p>
<p class="para">"Yes I remember you," said Martinus. "You were the one who probably tortured Gabrielle so that makes me mad. When I get mad I want to take revenge. What do you want with Gabrielle this time?"</p>
<p class="para">"Safe passage for me and Electra out of the amazon lands and a guarantee that no one will come after us," said Theodorus.</p>
<p class="para">"I don’t have the authority to make that decision," replied Martinus. "If I were you I'd give yourself up, we’d make sure that you had a fair trial under Amazon law of course."</p>
<p class="para">As he said this he noticed that Xena, Ephiny, Solari and Electra had appeared in the square alongside Martinus. Electra said, "Theodorus you are in charge of my army now, release Gabrielle and get out the Amazon lands. Xena and the others will make sure that you have safe passage."</p>
<p class="para">Theodorus thought for a second and then released Gabrielle and as she ran to Martinus’ side Theodorus said, "So what changed your mind? You were the perfect ruthless leader for our army."</p>
<p class="para">Electra said, "I've learnt a lot from my sister Xena and the fact is, it is better to do good in this world than to destroy things. Now go away before my new friends here get angry with you. Make sure that you take what's left of the army with you."</p>
<p class="para">Theodorus ran out of the Village Square. One of the Amazon warriors followed him to make sure that he didn’t renege on the deal.</p>
<p class="para">Gabrielle was relieved because her adventure was finally over. Gabrielle hugged Martinus because she was glad that he was all right. Martinus and Gabrielle followed Electra and the others back to the communal hut.</p>
<p class="para">The next day the whole village had gathered in the Village Square. Gabrielle was in her Amazon Queen outfit and Ephiny, Martinus, Xena and Solari were on a raised stage with her.</p>
<p class="para">Gabrielle, in a loud voice said, "We are here today to honour a very brave man who rescued me three times and kept me safe when we had been captured. I want to reward him and make him a friend of the Amazons. He is welcome anytime in our village and at any other village." As Gabrielle said this she gave Martinus a medallion which she put over his head. When Gabrielle did this all the Amazons cheered and cheered.</p>
<p class="para">When the Amazons had dispersed, Martinus found himself with Gabrielle and Xena. Gabrielle asked Xena how she had talked Electra into changing sides like that.</p>
<p class="para">"I knew that she was good, she just had to have the point explained to her. I explained that it was better to be doing good than to do evil. I should know. " She grinned as she said this. "Anyway she decided to stay with the Amazons while she sorts herself out. We might meet her again you never know."</p>
<p class="para">Gabrielle said to Martinus, "So what are you going to do then?"</p>
<p class="para">Martinus replied humorously, "I thought I'd go home to Poteidaia and have a rest from saving damsels in distress. I know that you have family there, do you want to come with me?"</p>
<p class="para">Gabrielle looked at Xena and she said, "Go on I'm going home as well to Amphipolis so you might as well go home with Martinus."</p>
<p class="para">Gabrielle said, "Well Martinus it looks like you have a travelling companion then!" As Gabrielle said this Ephiny and Solari came up to them. Ephiny said, "Martinus we want to thank you for looking after our Queen throughout this ordeal."</p>
<p class="para">Martinus smiled and said, "No problem." Gabrielle waved goodbye to Ephiny and Solari and followed Xena and Martinus out if the village.</p>
<p class="para">Everyone was looking forward to having a rest at home for a while before they got into anymore adventures.</p>
</div>
</Layout>
