---
import Layout from '../../layouts/Base.astro'
---
<Layout title="How I met Xena!">
<div class="content">
<p class="para"> </p>
<p class="para">Disclaimer: <em>Main characters belong to Renaissance/Universal/MCA.</em><br />
© <em>1997</em> Martin Hooper </p>
<p class="para">I'm Apollo of Poteidaia, a town in the middle of nowhere, a town where not much happened and most of the time it was very boring. I am a young man whose life was very boring until the events that are told in this story. </p>
<p class="para">I was going to marry a girl called Aurora , the daughter of the ruler of our next city who were once our fiercest foe. This marriage was to cement a peace treaty that had been signed. One day a warlord attacked, and nearly burnt down the whole city. She captured Aurora while she was visiting and nearly killed me. The King and Queen were away at the time. I tried to give chase but the bandits rode off. </p>
<p class="para">I told the guards to follow me and went off down the road after the bandits. As we got near I could hear the hooves of the horses in front of me. I rode very fast hoping that the bandits would not hear me. I rode all day and night looking for them and decided to stop when the moon came up. </p>
<p class="para">I made a camp and then went into an uneasy sleep. When I woke up I found that there were soldiers coming back down the same road as I had come, I was trapped. </p>
<p class="para">When I saw the soldiers coming down the road, I got my trusty sword out, as I was a warrior in my father's army. I quietly got my sword out of its sheath and waited for the soldiers to find me. I decided that if I was to be captured I would put up a fight worthy of a warrior. </p>
<p class="para">They saw me when the sun shined off my polished armour. The leader shouted something I couldn't hear and they all came down the road towards me. I hefted my sword up into the ready position and in a moment I was fighting for my life. </p>
<p class="para">I immediately crouched in the ready position as I waited for the soldiers to start attacking me. I looked around cautiously and waited for the first attack. One of the soldiers came running at me, shouting loudly and swinging his sword at my head. I immediately pushed my sword up and blocked his attack. </p>
<p class="para">I then saw two other soldiers attacking me and as I saw them I managed to dodge their swords and I lost my sword in the process, leaving it on the ground somewhere behind me. </p>
<p class="para">I grabbed a fallen branch from one of the trees that were growing around here and I saw three or four soldiers all running at once towards me with their swords brandished. I thought about it for a second and ran towards the men really fast with the branch outstretched. It hit all the men in the stomach and I did a back flip over the branch and them brought it up and hit the men in the face. They all collapsed into a really big heap. </p>
<p class="para">By now I was getting really exhausted and some of the soldiers' attacks were not being blocked as well as they should be, and as another soldier started to attack me he landed a blow in my right hand. It was a very big wound and I really couldn't fight after that. </p>
<p class="para">Xena and Gabrielle were setting up camp in a forest near where I was fighting for my life. Gabrielle said "I'll go and get some wood from this forest that we are near." </p>
<p class="para">"OK" said Xena, "Just be careful OK?" </p>
<p class="para">"I will," said Gabrielle. </p>
<p class="para">Gabrielle wandered off to the forest and as she was looking for dropped branches she saw my body. She went up to me and saw that I was wounded. Gabrielle checked me out and said to herself "I'll have to tell Xena and she can see if she can fix him up." </p>
<p class="para">When Gabrielle got back to the camp she told Xena about what she had seen and she took Xena back to the spot where she had found me. </p>
<p class="para">"I wonder what happened to him," said Xena as she tended my wound, "This is a really peaceful area and I wonder where he comes from." </p>
<p class="para">When Xena had tended my wounds she carried me gently back to the camp and made a comfortable bed for me. </p>
<p class="para">When I came to, I was in a cave, with a beautiful girl looking after me. </p>
<p class="para">"Where am I?" I said, groaning as my arm was not fully healed, "What happened?" </p>
<p class="para">"Hi, I'm glad you are awake," said the girl, "My name's Gabrielle. My friend and I have patched up your wounds. What happened to you and how did you get wounded?" </p>
<p class="para">"My name is Apollo. Don't tell anybody else that I am a Prince as I want to keep that a secret. We should go and help my fiancee to escape. I was due to marry her to cement a peace treaty between my own village and my fiancee's village. She is really beautiful, a bit like you. I was chasing some soldiers that had kidnapped Aurora and they saw me and I had to fight a losing fight with all those soldiers, and the wound happened when I was getting really tired," I said to Gabrielle. </p>
<p class="para">At that moment Xena walked into the cave. </p>
<p class="para">"How's our friend doing?" she said to Gabrielle. </p>
<p class="para">"He'll be all right." said Gabrielle. </p>
<p class="para">I managed to get up and say hello Xena and told her what I had told Gabrielle. She said she and Xena would help me rescue my fiancee from the evil warlord. </p>
<p class="para">When my arm had healed Xena leant me one of their spare horses and we headed out of the cave and onto the road. I said to Xena that there may still be some soldiers about looking for me and to be careful. </p>
<p class="para">I wandered on a bit making sure that Xena and Gabrielle were not far behind, when I suddenly saw what looked like sunlight glinting on metal a long way off. </p>
<p class="para">"Look out!" I shouted, "There may be people up ahead." </p>
<p class="para">All the horses were quickly lead off the road and everyone dropped off their horses and got their swords out, myself included. Xena crawled up to me and asked "How many?" </p>
<p class="para">"Just two people. Do you know who they are?" I said and wondered if these were the soldiers or other people who used this track. </p>
<p class="para">Xena replied "I don't know, I think I recognise the armour of one of those soldiers but I really can't tell until they come past." </p>
<p class="para">When the people came past, it turned out to be a friend of Xena's. She introduced me and told me that it was her old friend Hercules. I was amazed! </p>
<p class="para">Xena introduced me to Hercules who asked Xena what was happening and where we were going. She told him about my little problem and that she was going to help me find my fiancee. </p>
<p class="para">Hercules asked "Could I join you in your fight to free your fiancee?" </p>
<p class="para">"Certainly" I said, "It's not often that you get to fight side by side with one of the Gods. It's an honour." </p>
<p class="para">"Lets get cracking then," said Hercules. </p>
<p class="para">We rode for most of that day, with Xena and Hercules looking out for any soldiers, and Gabrielle bring up the rear. </p>
<p class="para">While we were riding down a deep ravine, Gabrielle's horse had dropped behind a little and Xena and Hercules hadn't noticed. There were bandits in this ravine, although we did not know it, and they had crept down the ravine. </p>
<p class="para">As Gabrielle was falling back from the others, in a cave part of the way up the ravine there was some bandits who decided to ignore Hercules and Xena and concentrate their attack on Gabrielle instead. </p>
<p class="para">They jumped out of a small road in front of Gabrielle. Gabrielle looked a bit frightened at this and dropped off her horse and got her staff out. She decided that she would go down fighting if it came to that. </p>
<p class="para">One of the bandits lunged at her with a small knife and Gabrielle twirled round with her staff and tried to knock the knife out of his hands. She narrowly missed his hand but gave him a hefty slap on the wrist and arm. He shouted very loudly and collapsed into a heap on the road. </p>
<p class="para">One of the bandits lunged at her with a small knife and Gabrielle twirled round with her staff and tried to knock the knife out of his hands. She narrowly missed his hand but gave him a hefty slap on the wrist and arm. He shouted very loudly and collapsed into a heap on the road. </p>
<p class="para">The rest of the bandits surrounded Gabrielle and she fought valiantly to save herself, eventually being overwhelmed by the sheer numbers of the bandits and eventually succumbing to a blow from a bandit that had crept up behind her. As she collapsed she dropped her staff on the floor. </p>
<p class="para">When Gabrielle woke up she found that had been put in a prison cell. She wondered where her staff was. </p>
<p class="para">She was a bit frightened and wondered when Xena and the rest of the warriors would have noticed that she had gone. She consoled herself with the fact that as soon as they knew that she was missing that they would come looking for her. </p>
<p class="para">The leader of the gang of bandits came into the room. He was a rather rough looking man with a scar down one side of his face and a lot of rather large muscles. </p>
<p class="para">"Our plan is going well then, we have Xena's friend and companion. Xena will be sure to come after us and fall right into our trap," The leader of the gang said. </p>
<p class="para">"The person who is paying us very handsomely will be very pleased. She might even pay us some more money! Especially if that wedding doesn't go ahead. If the peace treaty goes ahead, then both the combined armies will become more powerful than our big bosses and she doesn't want that. In fact we might get to see her in the castle by the lake, near Athens." </p>
<p class="para">I doubt it, thought Gabrielle. When Xena and Apollo catch up with you you'll be sorry. In fact Gabrielle had a little chuckle to herself as she thought of her friends beating the warriors up. </p>
<p class="para">Gabrielle decided not to mention that Xena would have more warriors than usual when she came to rescue her. </p>
<p class="para">After the rest of the warriors had got out of the ravine Hercules and Xena had decided to have a rest and pulled their horses off into a little field next to which a stream was running. </p>
<p class="para">"Where's Gabrielle?" said Hercules, "I can't find her any where." </p>
<p class="para">"I don't know," said Xena. "She could have got lost, captured by bandits or anything. We should go and look for her. "The only place that she could have been captured was that ravine that we just went through. She could have been captured by any one of the various bands of bandits that are known to frequent this area." </p>
<p class="para">Hercules replied, "In that case we ought to go back and look for her." Hercules and the rest of the party all turned their horses round and headed back into the ravine. </p>
<p class="para">As we were looking for a way up the ravine, I thought I saw something on the ground. I called Xena over. "Isn't that Gabrielle's staff over there on the ground?" I said. </p>
<p class="para">"Yes it is" said Xena. "There are also footprints that look like there has been a fight. In fact it looks like one of the bandits is still here," Xena said, looking at the body of one of the unconscious bandits. This bandit was one of the people who attacked Gabrielle earlier. He was just regaining consciousness. </p>
<p class="para">Xena went up to him and pressed his temples in a certain place and said "I have just cut off the blood to your brain. You will die in three minutes unless I release you. I will do that if you tell me what you know about an attack on a young blond lady that was walking through here earlier." </p>
<p class="para">The man said, "Yes we attacked a girl matching that description. We took her to the castle at the top of the hill." Xena released him and said, "You can go but be warned, if we find out that you have told the other bandits that we are coming then I will come looking for you and I will make your life hell for what's left of it." </p>
<p class="para">The man ran away down the ravine the way that Xena and the others had come from. </p>
<p class="para">When they got to the ravine they looked for a way to the top. </p>
<p class="para">"There's a very small path up the side of this ravine here," I said as Xena squeezed herself up the path, "I don't think that the horses are going to be able to get up here though." </p>
<p class="para">Xena said, "We'd better hurry up, as we don't know what's happening to Gabrielle." We all piled up the mountain trail with Hercules leading the way and Xena bringing up the rear. </p>
<p class="para">It was a very tight squeeze and it was very steep. It was quite a while until we got to the top. </p>
<p class="para">When we got to the top we found ourselves on a plateau with a castle in the middle of it. </p>
<p class="para">"Be careful", Xena said, "The castle ahead might be where we will find Gabrielle." </p>
<p class="para">We saw the biggest castle that we had ever seen. It was very large and had lots of turrets and gargoyles on the outside. It looked very evil and menacing. </p>
<p class="para">We all walked up to the castle drawbridge. When we got to the castle the drawbridge suddenly dropped. Everybody was very startled and I was nearly squashed by the drawbridge. </p>
<p class="para">Xena said, "It looks like were expected, this is most definitely a trap." Xena wondered what or who was behind this, and whether her friend Gabrielle was all right. </p>
<p class="para">When we entered the castle we found ourselves in a big room with a big wide staircase going up into the shadows, and there were a lot of holes in the wall where enemies could hide. </p>
<p class="para">As we all piled in, there came a bloodthirsty scream and lots of bandits came attacking out of the cubby holes and hiding places. Hercules, Xena and I, who had drawn our swords when entering the castle, all started to defend ourselves and soon we were in a pitched battle. </p>
<p class="para">Xena and I decided to fight our way to a downward staircase that we had saw as we came into the castle. We thought that it might lead down to the dungeon. </p>
<p class="para">Meanwhile in the dungeon, Gabrielle heard the voices and sounds of battle floating down into the prison cell, and was immediately filled with joy. Xena and her new found friends were coming to rescue her. </p>
<p class="para">As we were fighting our way down the stairs, we bumped into some more guards. We fought our way to the end of the stairs and we entered the dungeon. A few guards were in our way as we fought down the stairs and into the dungeon. They shouted "Halt!" at us as we were going past the stairs. </p>
<p class="para">As I was going down the stairs I tripped up over a loose stone and was knocked unconscious for a short time. When I woke up, I was in a room that was very small, there was moss and gunge on the floor and a little bed with no blankets on the other. There was a door in one of the walls, which I examined thoroughly. </p>
<p class="para">"It seems to me that I have been captured by these bandits," I thought as I sat on the bed. "I hope that Xena finds me soon." </p>
<p class="para">Meanwhile Xena was still fighting the guards as she finally entered the dungeons. She looked round and saw that I had disappeared. "I wonder where Apollo is," she thought. She started looking around at the cells, looking for Gabrielle. As she looked around she found Gabrielle in her cell. </p>
<p class="para">"Stand back," she shouted through the opening in the cell door to Gabrielle as she threw her chakram at the lock. With a couple of throws, she opened the door. </p>
<p class="para">Gabrielle told Xena about what she had overheard the guards saying, about the wedding and peace treaty and the big boss. </p>
<p class="para">Xena said, "I know where this castle is. It's near a lake to the south of here. Let's go and see if we can rescue Apollo and Aurora." Xena, Gabrielle and Hercules rode off to the rescue. </p>
<p class="para">Meanwhile back at the castle, I was looking to escape. The cell was secured pretty well, there was a window in one wall, and it was cold, and there was a hole near one corner that doubled as a toilet and the smell was awful. Try as I might it seemed to me that I could not get out at all. I looked about my person to find something that I might pick the lock with. I found a piece of wood with a sharp point. Hoping that there was no guard outside, because when I was captured the guards took my sword away, I tried to pick the lock for something to do, and succeeded. </p>
<p class="para">When I got out of the cell I found myself in a dungeon which had about ten or eleven cells, which went as far as the eye could see. I decided to see if Aurora was in one of these cells. </p>
<p class="para">As I was looking in each cell as I went down the line, I heard a noise. It was one of the guards. He was looking the other way, and did not notice me creeping up behind him. I had a chain that I found on the floor of my cell, and I strangled him quietly and without a sound. I dragged his body into an empty call, hoping it wouldn't be noticed. As I looked round I heard crying from one of the cells. I looked around and found that it was Aurora. </p>
<p class="para">Meanwhile Xena, Hercules and Gabrielle came to the edge of the castle. The drawbridge was up, and there seemed to be no way in. There was a very deep moat that went all the way around the castle. They had tied their horses up at an inn near the castle. </p>
<p class="para">"This is the castle," said Xena. </p>
<p class="para">"How are we going to get over the moat and into the castle?" asked Gabrielle, who was wondering just how they were going to get across. </p>
<p class="para">Just then the sound of hooves were heard coming down the road that our heroes came down. They all hid down by the trees at the side of the road. The drawbridge came down and the soldiers went in. Xena and the others followed on foot, hiding in the castle after they got over the bridge. </p>
<p class="para">They saw a staircase going down, they looked down the stairs and Xena said, "This looks like the way down to the dungeon." Just then a guard spotted them and shouted the alarm. </p>
<p class="para">Hercules said, "You go and look for Apollo and Aurora, I'll hold these soldiers off for a while." Xena and Gabrielle hurried on down the stairs. </p>
<p class="para">Back in the cell, I had a reunion with Aurora. I told her all about Xena and Gabrielle. We decided to get out of the cell and try and fight our way upstairs. We got out of the cell and we were heading out of the dungeon, when I heard a noise of sword fighting. </p>
<p class="para">"It sounds like Xena or Hercules are upstairs," I said to Aurora who was feeling afraid. </p>
<p class="para">I took my sword out of its sheath, and we went up the stairs to see what was happening. As we were coming up the stairs I saw a woman coming down the stairs. I recognised her at once and shouted, "Xena it's me!" Xena stopped and looked surprised to see me. </p>
<p class="para">"I escaped and found Aurora, who's here with me," I said. </p>
<p class="para">"There's no time for introductions at the moment," said Xena, "Hercules is upstairs trying to hold off the soldiers, but I don't think that he can hold out for much longer." </p>
<p class="para">"Let's go," I said. </p>
<p class="para">As we were crossing the entrance hall on the way out of the castle we shouted to Hercules that we were on our way and we began to fight our way out of the castle. </p>
<p class="para">As we were getting back into the castle entrance hall, a warrior was standing on top of the steps. It was Callisto, a sworn enemy of Xena's. </p>
<p class="para">"So you're behind the kidnapping of an innocent princess," Xena said to Callisto. </p>
<p class="para">"Yes, I am. I wanted to be the most powerful warlord in this area. If this peace treaty doesn't happen then I get to be the most powerful warlord in this area," said Callisto. </p>
<p class="para">"I can't let you win you know, I'll have to stop you," said Xena, drawing her sword. Callisto had her sword drawn. The pair of them fought on, parrying each other's blows and not giving an inch to each other. Gabrielle had an idea. She unsheathed her staff and as Xena and Callisto went past she stealthily put out her staff and tripped Callisto up. Xena saw this and said, "I'm not going to kill you, I have given up doing that. I'm going to let you go, your plan is finished." Callisto ran off taking the rest of her army off with her. </p>
<p class="para">Gabrielle, having made sure that Aurora and myself were safely out of the castle, saw Callisto running away and said to me and Aurora, "I knew Xena would win, she wouldn't get beat by anyone." I had my arm around Aurora, and we were kissing. </p>
<p class="para">As we stopped kissing Xena and Hercules walked up to the tree that we were standing under. </p>
<p class="para">"Thank you, Xena, I could never have found Aurora without Hercules and your help. Why don't all three of you come to my village for my wedding?" </p>
<p class="para">Xena said, "I don't think we will be able to make it as we will probably be helping someone else, but we will be thinking of you and hope that you will be prosperous. We're going to an Amazon camp near here, maybe we will see you there?" </p>
<p class="para">"Maybe," I said, "I might wander this way again on my travels, you never know. I hope to see you and Gabrielle again some time." </p>
<p class="para">Gabrielle said, "Good luck, hope to see you again sometime," and kissed me gently on the cheek. </p>
<p class="para">Hercules, Xena and Gabrielle went off on their own separate ways down the road, and as they went on their way Gabrielle turned round and waved, and Aurora and I waved back. </p>
<p class="para">As we watched we saw another horse, a blonde woman sitting on it, ride after Xena. We wondered if it was Callisto, it sure looked like her. </p>
</div>
</Layout>