---
import '@fontsource/ovo';
import '../styles/style.css';
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
import Menu from '../components/menu.astro';


const {title,subtitle} = Astro.props;

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header title={title} subtitle={subtitle}/>
		<Menu/>
		    <slot/>
        <Footer/>
	</body>
</html>

