---
import Nav from '../components/navbar2.astro';
import '../styles/global.css';
const {title,subtitle} = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body><div class="content">
		<Nav/>
		<h1 class="text-center text-4xl p-3">{title}</h1>
		<h2 class="text-2xl text-center pb-4" set:html={subtitle} />
		<slot />
		
	</div>
	</body>
</html>

